@import "../../../node_modules/bootstrap/scss/bootstrap";

.login--form input {
  margin-bottom: 1rem;
}

.login--form {
  margin-top: 1rem;
}

.alert {
  margin: 1rem;
  border-radius: 25px;
}

a {
  color: slategrey;
}

.dashboard--container {
  margin-top: 2rem;
}

.dish-group--container {
  margin-top: 2rem;
}

.dish--container {
  margin-top: 2rem;
}