<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="margin-bottom: 1rem">
    <a class="navbar-brand" href="{{ path('backend_dashboard') }}">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('backend_speisekarte') }}">Karte</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}">Log Out</a>
            </li>
        </ul>
    </div>
</nav>