.cc_container .cc_btn {
  background-color: #e4e4e4 !important; /* Farbe des Buttons */
  color: #000 !important; /* Textfarbe des Buttons */
}

.cc_container {
  background: #3a3830 !important; /* Hintergrundfarbe des gesamten Bereichs */
  color: #fdfdfd !important; /* Schriftfarbe des gesamten Bereichs */
}

.cc_container a {
  color: #31a8f0 !important; /* Textlink-Farbe "Mehr Infos" */
}