@import "~bootstrap/scss/bootstrap";
@import "cookie-hint";

$body-bg: white;

.bg-dark, .dropdown-menu, .dropdown-item {
  color: white;
  background-color: #3a3830 !important;
}

.title--header {
  letter-spacing: 15px;
  background: rgba(255, 255, 255, .6);
  margin: 0;
  padding: 1em;
}

body{
  font-family: 'Courgette', cursive;
  background-image: url("../images/holzhintergrund.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.maps--container {
  box-shadow: 10px 10px 20px black;
  border-radius: 25px;
  margin-bottom: 1rem;

  .carousel-inner {
    border-radius: 25px;
  }
}

.home--container {

  a, div {
    text-decoration: none;
    color: black !important;
  }

  box-shadow: 10px 10px 20px black;
  border-radius: 25px;
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, .6);
}

.speisekarte > .dish--group {

  h5 {
    color: white;
  }

  background-color: #3a3830;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
  }
  .speisekarte--full {
    width: 100%;
    float: none;
  }

  .title--header {
    display: none;
  }

  #dish-group-nav {
    display: none;
  }

  .speisekarte--full {
    margin-top: -1rem;
  }
}

@media only screen and (min-width: 768px) {
  .sidebar {
    z-index: 1000 !important;
    top: 5rem;
    max-width: 25%;
  }
  #dish-group-nav {
    top: 5rem;
    width: 20%;
    float: left;
    margin-left: 1rem;
  }

  .speisekarte--full {
    margin-right: 1rem;
    width: 75%;
    float: right;
  }

}

#dish-group-nav {
  z-index: 1;
}