{% extends 'backend/base.html.twig' %}
{% block body %}

    <div class="container dish-group--container">
        {{ form(dishGroupForm) }}
        <a class="btn btn-secondary" href="{{ path('backend_dish_group_list') }}">Zurück</a>
    </div>

{% endblock %}