{% extends 'backend/base.html.twig' %}

{% block body %}
    <div class="container-fluid justify-content-center align-content-center w-50 login--form">
        <form method="post">

            {% if errorMessage %}
                <div class="alert alert-danger">{
                    { error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="checkbox mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Bitte anmelden</h1>

            <label for="inputName" class="sr-only">Name</label>
            <input type="text" value="{{ lastUsername }}" name="name" id="inputName" class="form-control" placeholder="Name" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </form>
    </div>
{% endblock %}
